<!-- <canvas id="canvas"></canvas> -->

<div [ngStyle]="{'border': showDropzone ? '5px dotted #ccc' : 'none'}"
  (dragover)="false"
  (dragend)="false"
  (drop)="handleDrop($event)"
  class="dropzone">
  <div #canvasWrapper>
    <div *ngIf="showDropzone">
      <p>
        <strong>Drop a PNG or JPG</strong>
      </p>
      <img src="./placeholder.png">
    </div>
    <img *ngIf="image.path" id="photo" src="{{image.path}}">
  </div>
</div>

<div *ngIf="!showDropzone" class="carousel">
  <div thumbnail [filter]="filter" [path]="image.path" class="thumb" (click)="setFilter(filter.className)" *ngFor="#filter of filters">
    <img id="{{filter.className}}" src="{{image.path}}" alt=""/>
  </div>
</div>

<div class="control">
  <label>Filter:</label>
  <select [ngModel]="currentFilter" (ngModelChange)="setFilter($event)">
    <option value="">Select...</option>
    <option value="">#noFilter</option>
    <option *ngFor="#filter of filters" value="{{filter.className}}">{{filter.label}}</option>
  </select>
</div>
<div class="control">
  <button (click)="open()">Open...</button>
</div>
<div class="control">
  <button (click)="save(canvasWrapper)">Save</button>
</div>
