[hidden] {
  display: none !important
}

.mdl-layout__header {
  min-height: 65px;
}

.mdl-layout__header-row {
  padding: 10px 15px;
  height: 65px;
}

.dropzone {
  min-height: 300px;
  text-align: center;
  color: white;
  position: absolute;;
  top: 0;
  left: 10px;
  bottom: 10px;
  right: 10px;
  border: 3px dashed transparent;
  overflow-y: scroll;

  transition: border-color .15s linear;
}

.dropzone.dragging {
  border-color: rgba(255,255,255, 0.5);
}

.stage {
  text-align: center;
  color: whitesmoke;
  margin-top: 15px;
}

.stage h1 {
  opacity: 0.5;
}

.stage .placeholder {
  opacity: 0.5;
}

.stage img {
  width: 100%;
  margin-top: 15px;
  max-width: 200px;
  box-shadow: 0 2px 7px -1px rgba(0,0,0,0.5);
  border-radius: 3px;
  margin-top: 20px;
}

.stage canvas {
  display: block;
  margin: 0 auto;
  height: 50vmin;
  box-shadow: 0 2px 7px -1px rgba(0,0,0,0.5);
  border-radius: 3px;
  margin-top: 15px;
}

.carousel {
  white-space: nowrap;
  overflow: scroll;
  margin: 20px;
  position: relative;
  text-align: center;
}

.thumb {
  width: 150px;
  display: inline-block;
  margin: 0 10px;
  border-radius: 2px;
  border: 3px solid rgba(255,255,255,0.7);
}

.thumb:hover {
  cursor: pointer;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.5);
}

button {
  z-index: 1;
  background: rgba(255,255,255, 0.5);
  width:45px;
  height:45px;
  min-width: 45px;
}

button:hover {
  background: rgba(255,255,255, 0.7);
}

button:first-of-type {
  margin-right: 10px;
}

.control {
  margin-bottom: 15px;
}
