<div [ngStyle]="{'border': showDropzone ? '5px dotted #ccc' : 'none'}"
  (dragover)="false"
  (dragend)="false"
  (drop)="handleDrop($event, canvas)"
  class="dropzone">
  <div #canvasWrapper>
    <div *ngIf="showDropzone">
      <p>
        <strong>Drop a PNG or JPG</strong>
      </p>
      <img src="assets/images/placeholder.png">
    </div>
    <canvas [hidden]="!imageElement" #canvas></canvas>
  </div>
</div>

<div *ngIf="!showDropzone" class="carousel">
  <canvas thumbnail (click)="setFilter(filter)" *ngFor="#filter of filters"
          [filter]="filter" #childCanvas
          [image]="imageElement" [childCanvas]="childCanvas"
          class="thumb"></canvas>
</div>

<div class="controls">
  <div class="control">
    <button (click)="open(canvas)">
      <svg height="48" viewBox="0 0 48 48" width="48" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0h48v48h-48z" fill="none"/>
        <path d="M38 8h-28c-2.21 0-4 1.79-4 4v24c0 2.21 1.79 4 4 4h8v-4h-8v-20h28v20h-8v4h8c2.21 0 4-1.79 4-4v-24c0-2.21-1.79-4-4-4zm-14 12l-8 8h6v12h4v-12h6l-8-8z"/>
      </svg>
    </button>
  </div>
</div>
